<header class="nav">
  <div class="nav__inner">
    <a class="nav__brand" href="/" aria-label="kalaa home">
      <i class="fa-solid fa-palette"></i>
      <span>kalaa</span>
    </a>
    <button class="nav__menu" aria-label="Menu" aria-expanded="false">
      <i class="fa-solid fa-bars"></i>
    </button>
    <nav class="nav__links" data-collapsed>
      <a href="/about">About</a>
      <a href="/artists">Artists</a>
      <a href="/register">Register</a>
      <a href="/cart">Cart</a>
      <button id="themeToggle" class="btn--icon" aria-label="Toggle theme">
        <i class="fa-solid fa-moon"></i>
      </button>
    </nav>
  </div>
</header>
