<header class="nav">
  <div class="nav__inner">
    <a class="nav__brand" href="/" aria-label="kalaa home">
      <i class="fa-duotone fa-palette-artist icon"></i>
      <span>kalaa</span>
    </a>
    <button class="nav__menu" aria-label="Menu" aria-expanded="false">
      <i class="fa-sharp fa-solid fa-grid-2"></i>
    </button>
    <nav class="nav__links" data-collapsed>
      <a href="/about"><i class="fa-light fa-circle-info"></i> About</a>
      <a href="/artists"><i class="fa-light fa-users-rays"></i> Artists</a>
      <a href="/register"><i class="fa-light fa-user-plus"></i> Register</a>
      <a href="/cart"><i class="fa-light fa-cart-shopping"></i> Cart</a>
      <button id="themeToggle" class="btn--icon" aria-label="Toggle theme">
        <i class="fa-duotone fa-moon-stars"></i>
      </button>
    </nav>
  </div>
</header>
